<b>English Name</b>: Arjun Leaf <br />
Visayan Name: Dahon sa balingbing<br />
<br />
Benefits & Remedies: <br /><br />
What are the benefits of Arjun Leaf for Angina (heart-related chest pain)?<br />
<br />
Arjun leaf is beneficial in the management of chest pain (angina). Studies
suggest that the bark of Arjuna shows a significant reduction in chest pain by
lowering the level of cortisol i.e., the stress hormone. Arjuna also increases
exercise tolerance, improves HDL levels and reduces blood pressure in people
with stable angina<br /><br />Arjun leaf is useful to reduce the risk of heart
problems like angina. Angina is due to an aggravated Kapha but the pain
associated with it is a symptom of aggravated Vata. An aggravated Kapha leads to
the production of Ama (toxic remains in the body due to improper digestion) in
the body. This Ama accumulates in the heart channels and causes a blockage
leading to an aggravated Vata. This causes pain in the chest area. Arjuna has
Kapha balancing property. It helps to reduce Ama, removes the blockage of heart
channels and calms the aggravated Vata. This helps reduce chest pain.<br /><br />Tips
for taking Arjun leaf <br />1. Take10- 20- ml of Arjuna kwath or as directed by
the Physician. <br />2. Add the same quantity of milk or water to it. <br />3.
Drink once or twice a day after food to reduce the risk of chest pain.
