<b>English Name</b>: Curry Leaf <br />
Visayan Name: Dahon sa Bignay<br />
<br />
Benefits & Remedies: <br /><br />
What are Curry Leaves?
<br /><br />Curry leaves are the curry tree foliage (Murraya koenigii). This
tree is native to India, and for both medicinal and culinary purposes, its
leaves are used. They are particularly aromatic and have a distinctive taste of
citrus notes. In Indian households, curry leaves, the quintessential aromatic
element, have countless nutritional and therapeutic benefits. Kadi Patta or
Meetha Neem in Hindi, Kariveppilai in Tamil, or Karivempu in Malayalam are known
by many vernacular names as this tree is indigenous to India, Srilanka, and many
Southeast Asian countries. Although this traditional spice mixture is often
added and popularly used in cooking to add flavor to dishes such as curries,
rice dishes, and dals, curry leaves are not the same as curry powder. They
deliver an array of health benefits due to the strong plant compounds they
produce, apart from being a versatile culinary herb.

<br /><br />Nutritional Value of Curry Leaves <br />These high-speed deciduous
shrubs are a compulsory part of Indian cooking where all the dishes for
seasoning or garnishing start and end with it. Curry leaves are very rich in
copper, minerals, calcium, phosphorous, fiber, carbohydrates, magnesium, and
iron, which are important nutrients.

<br /><br />Besides, curry leaves often contain different kinds of vitamins and
amino acids. Depending on the intended use, the leaves can be dried or fried,
and the fresh form is very common as well.

<br /><br />Nutritional, Vitamins and Minerals <br />Per 0.5 g <br />Calories
<br />0.1 <br />Potassium <br />1.5 Mg <br />Vitamin A <br />0.50 %
<br />Calcium <br />0.001 <br />Vitamin C <br />0.10 % <br />Vitamin B-6
<br />0.10 %
