<b>English Name</b>: Marsh Pennywort Leaf <br />
Visayan Name: Dahon sa Goto Kola<br />
<br />
Benefits & Remedies: <br /><br />
Medicinal Uses and Indications Treatment
<br />Venous insufficiency and varicose veins

<br /><br />When blood vessels lose their elasticity, blood pools in the legs
and fluid leaks out of the blood vessels. That causes the legs to swell (venous
insufficiency). Several small studies suggest gotu kola may help reduce swelling
and improve blood flow. In a study of 94 people with venous insufficiency, those
who took gotu kola saw their symptoms improve compared to those who took a
placebo.

<br /><br />One study also found that people who took gotu kola before flying
had less ankle and leg swelling than those who did not take it.

<br /><br />Wound healing and skin lesions

<br /><br />Gotu kola has chemicals called triterpenoids. In animal and lab
studies, these compounds seem to help heal wounds. For example, some studies
suggest that triterpenoids strengthen the skin, boost antioxidants in wounds,
and increase blood supply to the area. Based on these findings, gotu kola has
been applied to the skin, or used topically, for minor burns, psoriasis,
preventing scars after surgery, and preventing or reducing stretch marks. You
can find gotu kola in many creams for wound healing. Ask your health care
provider if one is right for you.
