<b>English Name</b>: Mint Leaf <br />
Visayan Name: Dahon sa Helbas<br />
<br />
Benefits & Remedies: <br /><br />
Health Benefits of Mint Traditional medicine uses mint to treat a variety of
ailments.
<br />
Unfortunately, there aren't many human studies documenting the impact mint has
on the body apart from digestion support and irritable bowel syndrome relief.
<br />
With time, research could confirm that mint is useful in treating a wider
variety of illnesses.<br /><br />
Mint is perhaps most popularly known as a remedy for digestive problems.<br />
Some limited research suggests that peppermint oil in capsules may ease belly
pain from irritable bowel syndrome. Animal and in vitro studies suggest that
mint leaves could have wider medicinal uses than those currently known.<br />
These types of studies have found that mint is able to kill bacteria, reduce
stress, and fight cancerous tumor cells. <br />
Human trials will be required to determine if mint also has these effects on the
human body.
