<b>English Name</b>: Philippine Neem Tree <br />
Visayan Name: Dahon sa Marrango<br />
<br />
Benefits & Remedies: <br /><br />
Uses & Effectiveness ? <br /><br />
Possibly Effective for
<br /><br />Tooth plaque. Applying a gel containing neem leaf extract to the
teeth or using a neem mouthwash can reduce the amount of plaque on the teeth.
<br />
But it is not clear if neem is as helpful as using chlorhexidine mouthwash or
gel.<br />
A mild form of gum disease (gingivitis).<br />
Applying a gel containing neem leaf extract to the teeth or using a neem
mouthwash can reduce gingivitis in some people.<br />
But it is not clear if neem is as helpful as using chlorhexidine mouthwash or
gel.<br />
Lice. Applying a neem extract shampoo to the scalp once can treat head lice in
children.<br />
There is interest in using neem for a number of other purposes, but there isn't
enough reliable information to say whether it might be helpful.
