<b>English Name</b>: Miracle Leaf <br />
Visayan Name: Dahon sa Anghelika<br />
<br />
Benefits & Remedies: <br /><br />
Kidney Stones
<br /><br />One of the most popular traditional uses for the Leaf of Life is to
treat kidney stones. <br />
While research has not gotten to the stage of human testing, there are some
animal tests that show that the plant may have a positive effect on kidney
stones. <br />
A study conducted in 2014 showed that rats given a treatment containing plant
extracts were less likely to develop kidney stones. <br />
Those rats given the treatment had reduced levels of urine oxalates, and those
oxalates are typically what causes kidney stones.<br /><br />
Pregnancy
<br /><br />In recent years, studies have been conducted that show that the Leaf
of Life may be beneficial for women who are pregnant. <br />
An animal study conducted in 2014 administered different dosages of Bryophyllum
pinnatum extracts to pregnant rats.<br />
The results showed that the plant extracts interfered with maternal weight gain,
and there were no adverse effects on both the mothers and their fetuses. <br />
In the same year, a study was also conducted on human subjects. <br />
Pregnant women suffering from sleep issues were given 350 mg tablets that were
50 percent composed of B. pinnatum. <br />
At the end of the study, the women reported experiencing fewer wake-ups and an
improved quality of sleep.<br />
In this study, no adverse effects were reported either.
<br /><br />Sinus Traditional use commonly dictates that the Leaf of Life be
used to treat colds and improve sinus pressure.<br />
Although this use has not be scientifically tested yet, many people claim it can
treat much more than simple colds and sinusitis.<br />
However, an in vitro study conducted in 2007 showed that the plant extract
contains compounds that may act as an antimicrobial.<br />
This may explain why the Leaf of Life works so well for the treatment of colds
and sinus conditions. <br />
A simple tea made from the leaves or the extracts from the Leaf of Life can be
used to treat bronchitis, shortness of breath, coughs, nasal congestion, and
asthma (see section below).
<br /><br />Hair The Leaf of Life is commonly used to nourish the hair and treat
gray hair; however, this has not been tested in a controlled setting yet.<br />
Many claim that if you use the extracts from the leaves of the plant, it both
prevents grey hair from growing and it may promote a healthy scalp.<br />
Although people believe the extracts help with hair care, the mechanisms that
make it work are still unknown.<br /><br />
Asthma Several animal studies have been conducted over the years that support
the use of the Leaf of Life as an anti-asthmatic medicine.<br />
For example, a study conducted in 2013 treated guinea pigs over a period of 21
days using an extract dosage of either 200 or 400 mg per kg od body weight per
day. <br />
Over the course of the study, the rodents were exposed to a throat irritant.<br />
At the end of the study, the guinea pigs had reduced mucus viscosity, supporting
the plants use as an anti-asthmatic.<br />
In addition to this study, several of the studies that support its use as an
antimicrobial agent also suggests that this antimicrobial activity is what makes
the plant effective in treating asthma.

<br /><br />Diabetes In 2008 a study was conducted that suggested that
Bryophyllum pinnatum may support anti-diabetic activity.<br />
In this study, diabetic rats were given dosages of either 200, 400, or 800 mg
per kg body weight per day.<br />
All dosages were shown to be effective in lowering blood sugar in the diabetic
rats, and the treatment also reduced the levels of triglycerides.<br />
Another scientific investigation in 2014 was also conducted on rats which
duplicated these results.<br />
From these two studies, it appears that the anti-diabetic properties of the Leaf
of Life deserve further study as they may significantly benefit people suffering
from diabetes. Skin As mentioned previously, the Leaf of Life also has
anti-microbial compounds that help with the treatment of sinuses and asthma.
However, this anti-microbial activity may also benefit the skin and treat minor
injuries. In fact, many traditional uses dictate that the plant be used for this
purpose. Applying a poultice to injuries helps to ease pain, promote faster
healing, and prevent infection. Numerous studies (aside from the two mentioned
earlier) also support this notion. For example, a study conducted in 2000 showed
that the leaves prevented the growth of 5/8 of the bacteria tested. Another
study in 2012 isolated compounds from the plant that are known to have
anti-microbial properties, confirming that it may be used to treat infections.
More research still needs to be conducted (particularly clinical trials), but
these initial pilot studies are very promising.
